@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .input {
    @apply w-full rounded-lg border-gray-500 bg-transparent
   text-gray-500 placeholder-gray-500 outline-none focus-visible:ring-2 focus-visible:ring-primary-600
    dark:text-gray-400 dark:placeholder-gray-400;
  }

  .textarea {
    @apply relative w-full rounded-lg border-gray-500 bg-transparent px-4
    text-sm text-gray-500
    placeholder-gray-500 outline-none focus:ring-0 focus-visible:ring-2 focus-visible:ring-primary-600
    dark:text-gray-400 dark:placeholder-gray-400;
  }
}

.custom-truncate {
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 8px rgba(0, 0, 0, 0.37);
}
